@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using ToDoListLibrary
@model ToDoAspNetMvc.ViewModels.ToDoEntryViewModel

@{
    ViewData["Title"] = "CreatCopy";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<h1>Create copy</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCopy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Select to do list to put this item into</label>
                <select asp-for="OwnerId" asp-items="@Model.ToDoLists" class="form-control">
                    <span asp-validation-for="OwnerId" class="text-danger"></span>
                </select>
            </div>
            <partial name="_ToDoEntryDetails" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default btn-lg" asp-action="Details" asp-controller="ToDoLists" asp-route-id="@Model.OwnerId">
        <span class="bi bi-arrow-left"></span>Back to List
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
