@model ToDoAspNetMvc.Models.MarkCompletedViewModel

@{
    ViewData["Title"] = "MarkCompleted";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MarkCompleted">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Title" class="form-control" disabled />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input big-green" asp-for="IsCompleted" /> 
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default btn-lg" asp-area="" asp-controller="Home" asp-action="Index">
        <span class="bi bi-house"></span>
    </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

