@model ToDoListLibrary.ToDoList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="_ToDoListDetails" />
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default btn-lg" asp-action="Index" >
        <span class="bi bi-arrow-left"></span>Back to Lists
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
