@model (int, int)

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Today you have @(Model.Item1) tasks
    </p>
    <a class="navbar-brand" asp-area="" asp-controller="ToDoEntries" asp-action="Index" asp-route-compare="equals">Look what you have for today</a>
    <p></p>
    <p>
        There are @(Model.Item2) tasks past due date
    </p>
    <a hidden="@(Model.Item2 == 0)" class="navbar-brand" asp-area="" asp-controller="ToDoEntries" asp-action="Index" asp-route-compare="less">Close fulfilled tasks or change their due date</a>
</div>
